includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    ignoreErrors:
        -
            message: '#Variable property access on cebe\\openapi\\spec\\PathItem\.#'
            path: src/Generator/RouteConverter.php
