includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    ignoreErrors:
        -
            message: '#Variable property access on cebe\\openapi\\spec\\PathItem\.#'
            path: src/Routing/RouteToPathItemConverter.php
        -
            message: '#Property Tests\\LoyaltyCorp\\ApiDocumenter\\Unit\\SchemaBuilders\\Fixtures\\PublicProperties::\$typeless has no typehint specified\.#'
            path: tests/Unit/SchemaBuilders/Fixtures/PublicProperties.php
